*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    
    width: 70%;
    height: 80%;
    margin: auto;
    border-radius: 30px;
    margin-top: 100px;
    background: #ec874d6e;
    justify-content: center;
    display: flex;
    background-position: absolute ;
}



.feedback{
   border-left: 3px solid rgba(0, 0, 0, 0.603) ;
   padding: 40px;
   width: 50%;
   font-family: segoe UI;
    font-size: 30px;
    font-weight: 400;
    margin: auto;
    text-align: center;
    color: rgba(0, 0, 0, 0.856);

}

.details{
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 50%;
    align-items: left;
}

.details h1{
    font-family: segoe UI;
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 10%;
    margin-left: 30px;

}

.details input {
    padding: 10px;
    margin: 20px;
}

.info{
    display: flex;
}

 #name , #email , #message{
    background-color: transparent;
    color: #eeeeee;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid black 1px;
    padding: 3px 10px;
    width: 80%;
    

}

#message{
    margin-top: 20%;
}

.btn{
    margin-top: 10%;
    margin-left: 12%;
    align-items: center;
    width: 70%;
    padding: 3%;
    border: none;
    border-radius: 10px;
   background: #42C7C6;
   cursor: pointer;
}
